<footer id="footer" class="footer dark-background">
  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
          <p class="footer-support-group-label">{% if page.lang == 'en' %}Site authors{% else %}Autores del sitio{% endif %}</p>
          <ul class="footer-support-list">
            {% for author in site.authors %}<li>{{ author }}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-lg-4 col-md-6">
          <p class="footer-support-group-label">{% if page.lang == 'en' %}Curators{% else %}Curadores{% endif %}</p>
          <ul class="footer-support-list">
            {% for curator in site.curators %}<li>{{ curator }}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-lg-5 col-md-12">
          <p class="footer-support-group-label">{% if page.lang == 'en' %}Financial support{% else %}Apoyo financiero{% endif %}</p>
          <p class="footer-support-intro">{% if page.lang == 'en' %}{{ site.funders_intro_en }}{% else %}{{ site.funders_intro_es }}{% endif %}</p>
          <ul class="footer-support-list">
            {% for funder in site.funders %}<li>{{ funder }}</li>
            {% endfor %}
          </ul>
          <p class="footer-attribution mt-3">{{ site.attribution }}</p>
        </div>

      </div>
    </div>
  </div>
</footer>
