{% set is_en = page.lang == 'en' %}
{% set home_url = '/en/' if is_en else '/' %}
{% set people_url = '/en/personas/' if is_en else '/personas/' %}
{% set nav_people = 'People' if is_en else 'Personas' %}

<div class="container-xl">
  <div class="site-topbar">
    <a href="{{ home_url | sitePath }}" class="site-brand">Archivos Nuestros</a>

    <nav class="site-nav" aria-label="Primary">
      <a class="site-nav__link chip" href="{{ people_url | sitePath }}">{{ nav_people }}</a>
      <a class="site-nav__link site-nav__toggle chip {% if is_en %}{% else %}is-current{% endif %}" href="{{ '/' | sitePath }}">ES</a>
      <a class="site-nav__link site-nav__toggle chip {% if is_en %}is-current{% endif %}" href="{{ '/en/' | sitePath }}">EN</a>
    </nav>
  </div>
</div>
